.container-fluid {
  
  color: #ffffff;

  h1,
  h3 {
    font-family: titleFont;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #66fcf1;
  }

  agm-map {
    height: 50vh;
  }

  .map {
    margin: 0px;
    padding: 0px;
  }

  .card {
    border-color: #66fcf1;
    margin: 5%;

    .card-body {
      background-color: #10292e;
    }

  }

}
